body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}
body {
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
background-image: url('fondo.png');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contenedor {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 600px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

button {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: #000;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
